*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 35, 31);
}
.container{
    
    background-color: white;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0, 0.2);


}
.search-box{
    width: 85%;
    display: flex;
justify-content: space-between;
}

.search-box input{
    padding-bottom: 0px;
    width: 100%;
    border: none;
    outline: none;
    border: 3px solid black;
    font-size: 25px;

}
button {
   
    background-color: black;
    border: 1px solid white;
    padding: 11px;
    font-family: sans-serif;
    border-radius: 14px;
    margin-left: 122px;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

button:hover {
    
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 11px;
    font-family: sans-serif;
    border-radius: 14px;
    margin-left: 122px;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0px 20px 0px;
    font-size: 23px;
    
}
h1{
    color: white;
    margin-top: 100px;
    font-size: 51px;
    font-family: cursive;
}